body {
    font-family: montserrat, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    font-family: LEMON MILK, sans-serif;
    background-color: #407aa091;
    color: #f8f8f8;
    padding: 10px 0;
}

.calculator {
    background-color: f8f8f8;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.square-image {
    width: 100px;
    margin: 20px auto;
}

.formula {
    font-size: 16px;
    color: #888;
}

label {
    font-size: 18px;
}

input {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #42668d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
